<app-header titulo="DateTime"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>

    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>

        <ion-datetime display format="DD MMM YYYY"
        min="2015"
  max="2025"></ion-datetime>
    </ion-item>

<!-- <ion-list-header>
  <ion-label>Restricciones</ion-label>

</ion-list-header>
<ion-item>
  <ion-label>Min y Max</ion-label>

  <ion-datetime display format="DD MMM YYYY"
  ></ion-datetime>
</ion-item> -->










