<app-header titulo="Alert"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alert</ion-title> -->

    <!-- </ion-toolbar> -->
    <ion-button (click)="presentAlert()" expand="block">
      Alert
    </ion-button>
  <!-- </ion-header> -->
  <ion-button (click)=" presentAlertMultipleButtons()" expand="block">
    Alert Multiple
  </ion-button>
  <ion-button (click)=" presentAlertPrompt()" expand="block">
  presentAlertPrompt
</ion-button>
</ion-content>




