<app-header titulo="card"></app-header>


<ion-content>
<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
    woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-label>Marcador</ion-label>
  </ion-item>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis natus velit quod repellendus pariatur in voluptatibus quisquam ut illum cumque atque, alias omnis sed quia, tempora nihil nisi ipsum iure!
  </ion-card-content>
  <ion-card>
    <img src="https://c.ndtvimg.com/2023-07/v06clarg_elon-muskteslaai_625x300_20_July_23.jpg">
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis natus velit quod repellendus pariatur in voluptatibus
    quisquam ut illum cumque atque, alias omnis sed quia, tempora nihil nisi ipsum iure!
  </ion-card-content>
  </ion-card>
</ion-card>
</ion-content>
